{
  "extends": ["standard", "standard-react"],
  "globals": {
    "fetch": true,
    "_": true,
    "FormData": true,
    "FileReader": true,
    "localStorage": true
  },
  "rules": {
    "semi": 0,
    "space-before-function-paren": 0,
    "curly": 0,
    "react/prop-types": 0
  }
}